html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "aduma-medium";
  src: url("./assets/fonts/AdumaMedium.ttf");
}

@font-face {
  font-family: "aduma-regular";
  src: url("./assets/fonts/AdumaRegular.ttf");
}

@font-face {
  font-family: "aduma-bold";
  src: url("./assets/fonts/AdumaBold.ttf");
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("./assets/background1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  position: absolute;
  width: 17vw;
} 

#iaf-logo {
  top: 1vh;
  right: 2vw;
}

#kanaf-logo{
  top: 1vh;
  left: 2vw;
}

.carousel{
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 30vh; */
  width: 100vw;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide{
  margin-right: 16.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #274C77;
  height: 50vh;
  width: 65vw;
  border-width: 6px;
  border-style: solid;
  border-image: linear-gradient(to top, white, gray, white, gray, white) 5;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
   padding: 3vh 0;
}

.slide-text{
  color: white;
  text-align: center;
  font-family: "aduma-medium";
  font-size: 3.5vh;
}

.slide-text-box{
  width: 50vw;
}

.swiper-button-next-custom{
  z-index: 2;
  position: absolute;
  left: 5vw;
  height: 10vh;
  width: 10vw;
  background-image: url("./assets/nextarw.svg");
  background-position: center ;
  background-repeat: no-repeat;
}

.swiper-button-prev-custom{
  z-index: 1;
  position: absolute;
  right: 5vw;
  height: 10vh;
  width: 10vw;
  background-image: url("./assets/backarw.svg");
  background-position: center ;
  background-repeat: no-repeat;
}

button{
  background-color: transparent;
  border: none;
}

.page-content{
  top: 10vh;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lower-text{
  margin-top: 3vh;
  font-family: "aduma-regular";
  color: white;
  font-size: 3vh;
}

.lower-title{
  font-size: 3vh;
  font-family: "aduma-bold";
}

.title{
  margin-bottom: 1vh;
  font-family: "aduma-bold";
  color: white;
  font-size: 4vh;
}

.first-slide{
  background-image: url("./assets/ba6c3543-c8fc-40ec-8986-93e8f08956cd.jfif");
  background-size: cover;
  background-position: center;
}

.swiper-button-prev-custom.swiper-button-disabled,
.swiper-button-next-custom.swiper-button-disabled {
  opacity: 0;        /* hides them */
  pointer-events: none; /* make them unclickable */
  transition: opacity 0.3s ease;
}

.bottom-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 6vh; /* small reserved space */
}

.slide-number {
  position: absolute;
  bottom: 2vh;
  color: white;
  font-family: "aduma-medium";
}
